.c-button {
    display: inline-block;
    padding: 1.6rem 2.9rem;

    text-decoration: none;
    text-align: center;
    outline: none;
    border-radius: 25px;
    cursor: pointer;

    font: {
        size: 1.8rem;
        weight: 700;
    };

    &--white {
        border: 2px solid #fff;
        background: transparent;
        color: #fff;
        transition: all .2s ease-in;

        @include hocus() {
            background: #fff;
            color: #000;
        }
    }

    &--green {
        background: #00788A;
        color: #fff;
        transition: all .2s ease-in;

        @include hocus() {
            background: #4A9CA7;
        }
    }
}