.banner {
    margin: 0 -15px;
    padding: 5rem 0;
    color: #fafcfd;
}

.banner__title , .banner__title p {
    position: relative;
    z-index: 2;
    margin: 0 0 20px;

    font-size: 3.4rem;
    font-weight: 400;
    line-height: 1.4117647059;
}

.banner__subtitle, .banner__subtitle p {
    position: relative;
    z-index: 2;
    margin: 0 0 15px;

    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.25;
}

.banner__popup-trigger:hover, .banner__popup-trigger:focus {
    color: #258b99;
    border-bottom-color: #258b99;
}

.banner__subtitle a {
    color: #fafcfd;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in;
}

.banner__subtitle a:hover, .banner__subtitle a:focus {
    color: #258b99;
    border-bottom-color: #258b99;
}

.banner__popup-trigger {
    display: inline-block;
    margin: 24px 0 0;

    text-decoration: none;
    border-bottom: 1px solid #fff;
    transition: all .2s ease-in;
}

.banner__subtitle:last-of-type, .banner__subtitle p:last-of-type {
    margin: 0;
}

.banner__sm-image {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    max-width: 1000px;
    width: 178%;
    opacity: .8;
}


.banner__inner {
    position: relative;
    overflow: hidden;

    padding: 70px 10px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

@media screen  and (min-width: 768px) {
    .banner__inner {
        padding: 5% 15px 24% 4%;
    }

    .banner__content {
        max-width: 50%;
    }

    .banner__sm-image {
        width: auto;
        height: calc(100% - 4%);
        left: 0;

        opacity: 1;
    }
}